<%provide(:title, "Administrator - #{@admin.name}") %>
<div class="large-12">
<div class="large-2 columns">
	<h4>
	links here
	<hr>
	</h4>
	<ul class="menu vertical">
		<li><%= link_to "My Articles", "#" %></li>
  		<li><%= link_to "Write an article", new_admin_blog_path(@admin) %></li>
  		<li><%= link_to "", "#" %></li>
  		<li><a href="#"></a></li>
  		<li><a href="#">Four</a></li>
	</ul>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>
	<div class="row">
		<div class="large-10 columns">
		<h4>
		Display all comments
		<hr>
		</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
	
</div>