<%provide(:title, 'Blog - Bhent') %>

<div class="row">
	<div class="large-12 columns">
		<h2>Blog</h2>
	</div>
</div>
<div class="row">
<% if @blogs.count != 0 %>

<% @blogs.each do |blog| %>
<div class="large-12 columns">
	<%= link_to  image_tag('brand.png'), more_details_path(blog) %>
		
		<h4><%= blog.title %></h4>
		<hr>
		<h4>description here</h4>
		<p>
			<%= blog.description %>
		</p>
	</div>


<%end%>

<%end%>
	
</div>
